$white: #fff;

// Gray
$gray-100: #f6f6f6;
$gray-200: #dddddd;
$gray-300: #d1d1d1;
$gray-500: #616161;
$gray-900: #000000;

// Blue
$blue-400: #38bdf8;
$blue-500: #4486ea;
$blue-600: #2563eb;

// Orange
$orange-300: #fdba74;
$orange-400: #E18F53;
$orange-500: #f97316;

// Green
$green-300: #86efac;
$green-500: #2acc30;
$green-600: #16a34a;

// Red
$red-500: #ec2424;
