.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__info {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  &__title {
    font-size: 1.687rem;
    font-weight: 400;
    line-height: 2.75rem;
    margin: 0;
  }
}

.container__button {
  margin-right: 0.875rem;
}

.separator {
  border: 1px solid #ddd;
  margin: 0.2rem 0;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }

  .container__button {
    margin-right: 0;
    margin-bottom: 0.2rem;
  }

  .container__info {
    flex-direction: column;
  }
}
